<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            index page
        </title>

        <style>
            body {font-size: 16pt; color: #999;}
            h1 {font-size: 100px; 
                text-align: -50px;
                color:#f6f6f6;
                letter-spacing: -0.1em;
                margin: 0px 0px -90px 0px;
                }
        </style>

    </head>
    <body>
        <h1>Hello!</h1>
        <p>This is sample web page.</p>
    </body>
</html>